<header>
  <div class="header_container">
    <h1 class="header_title">skilled</h1>
    <button class="header_button">Get Started</button>
  </div>
  <div class="info_container">
    <div class="container_div">
      <h2 class="container_title">Maximize skill, minimize budget</h2>
      <p class="container_description">Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.</p>
      <button class="container_button">Get Started</button>
    </div>
    <div class="image_div">
      <picture class="picture">
        <source media="(max-width: 767px)" srcset="../../../assets/image-hero-mobile.png" >
        <source media="(min-width: 768px)" srcset="../../../assets/image-hero-tablet.png">
        <source media="(min-width: 1440px )" srcset="../../../assets/image-hero-desktop.png">
        <img src="../../../assets/image-hero-mobile.png" alt="" class="image">
      </picture>
    </div>
  </div>
</header>
